.container {
  position: relative;
  height: 480px;

  object-fit: fit;
}
.title {
  color: white;
  margin: 10px;
  font-size: 30px;
  font-weight: 600;
}
.des {
  color: white;
  margin: 10px;
  width: 45%;
  font-size: 15px;
  font-weight: 400;
  word-break: break-all;
  bottom: 10px;
}
.detailCon {
  position: absolute;
  bottom: 20px;
}

@media (max-width: 450px) {
  .title {
    font-size: 20px;
  }
  .container {
    object-fit: contain;
  }
  .des {
    font-size: 10px;
  }
}
